/* frontend/src/index.css */
/* Plik definiuje globalne podstawy stylowania aplikacji oraz włącza Tailwind CSS. */

@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
}